* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
  min-height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: transparent;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  z-index: 1500;
}

#header.navbar_dark {
  height: 75px;
  background: #378dd4;
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 20px;
  height: 100%;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  color: white;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: transparent;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.navbar_menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  margin: 0 20px;
  padding: 0 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.navbar_menu_item_link {
  color: white;
}

.navbar_menu_item_link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: #c5d6e4;
  transition: all 0.3s ease-out;
}

.navbar_menu_item_link:hover::before {
  width: 100%;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home,
#timeline,
#skills,
#contact {
  min-height: 100vh;
}

.section_head {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.home_context {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  z-index: 10;
  color: white;
  font-weight: 700;
}

.home_title,
.home_description {
  font-family: "Montserrat Medium";
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 100px;
}

.home_title {
  font-size: 45px;
}

.home_description {
  font-size: 41px;
}

.home_btn_container {
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.home_btn_center {
  width: 180px;
  height: 60px;
}

.home_btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 3px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.home_btn:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.home_btn:hover svg {
  stroke-dashoffset: -480;
}

.home_btn span {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.home_title span,
.home_description span,
.home_btn_container {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.home_title_text1 {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text2 {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text3 {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text4 {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text5 {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text6 {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text7 {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text8 {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text9 {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text10 {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text11 {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home_title_text12 {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.home_area {
  background: #51a2e4;
  background: -webkit-linear-gradient(to left, #8f94fb, #51a2e4);
  width: 100%;
  height: 100vh;
}

.home_circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home_circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.home_circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.home_circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.home_circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.home_circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.home_circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.home_circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.home_circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.home_circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.home_circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.home_circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

#timeline {
  background-color: rgb(245, 245, 245);
}

.timeline_container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding: 50px 0;
}

.timeline_wrap {
  width: 80%;
  height: 90%;
  position: relative;
}

.timeline_lists::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #4a7292c9;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline_lists {
  list-style: none;
}

.timeline_list_odd,
.timeline_list_even {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.384);
  border-radius: 10px;
  margin-bottom: 30px;
  z-index: 99;
  position: relative;
}

.timeline_list_odd {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}

.timeline_list_odd .timeline_date {
  right: 20px;
}

.timeline_list_even {
  float: right;
  clear: left;
  transform: translateX(30px);
}

.timeline_lists li:nth-child(5) {
  margin-bottom: 0;
}

.timeline_title {
  font-size: 20px;
  font-weight: bolder;
}

.timeline_lists li p {
  font-size: 15px;
  color: #444;
  margin: 7px 0;
  line-height: 23px;
}

.timeline_date {
  position: absolute;
  top: -40px;
  width: 160px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background-color: #4a7292c9;
  display: grid;
  place-items: center;
  font-size: 14px;
}

.timeline_circle {
  width: 30px;
  height: 30px;
  background-color: #92b3ce;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.timeline_circle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #4a7292c9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline_list_odd .timeline_circle {
  right: -30px;
  transform: translate(50%, -50%);
}

.timeline_list_even .timeline_circle {
  left: -30px;
  transform: translate(-50%, -50%);
}

#skills {
  background: #1d809f;
}

.skills_head {
  margin-top: -2px;
  color: white;
}

.skills_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.skills_card {
  position: relative;
  width: 220px;
  height: 250px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.skills_percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.skills_percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px, 5px);
}

.skills_percent svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skills_dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.skills_dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.skills_number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.skills_number h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 2.5em;
}

.skills_number h2 span {
  font-weight: 300;
  font-size: 0.5em;
  color: black;
}

.skills_number p {
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}

.projects_head {
  margin-top: 120px;
}

.projects_container {
  margin: auto;
  width: 80%;
  height: auto;
}

.projects_wrap {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  justify-content: center;
}

.projects_card {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 30px;
  height: 500px;
  -webkit-box-shadow: 10px 4px 16px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 4px 16px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 4px 16px -1px rgba(0, 0, 0, 0.51);
}

.projects_card_img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_card img {
  max-width: 100%;
  max-height: 100%;
}

.projects_card_text {
  width: 50%;
  height: 100%;
}

.projects_card_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  font-size: 30px;
  font-weight: bolder;
}

.projects_card_description {
  display: flex;
  align-items: center;
  text-align: start;
  margin: auto;
  width: 80%;
  height: 20%;
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

.projects_card_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin: auto;
  width: 70%;
  height: 35%;
  line-height: 30px;
  font-size: 18px;
}

.projects_card_btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
  text-transform: uppercase;
}

.projects_card_btn {
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
  background-color: #9f9aa5;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projects_card_btn:hover {
  background: #766d81;
}

#contact {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  margin-top: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_social_icon,
.contact_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.contact_social_icon li,
.contact_menu li {
  list-style: none;
}

.contact_social_icon li a,
.contact_menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.contact_social_icon li a:hover {
  transform: translateY(-10px);
}

.contact_menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

.contact_menu li a:hover {
  opacity: 1;
}

#contact p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.contact_wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./imgs/wave.png");
  background-size: 1000px 100px;
}

.contact_wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.contact_wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.contact_wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

.contact_wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 65px;
  height: 65px;
  font-size: 35px;
  color: white;
  border: none;
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up:hover {
  background-color: rgba(128, 128, 128, 1);
}

.arrow-up.visible {
  opacity: 0.5;
  pointer-events: auto;
  z-index: 1100;
}

@media screen and (max-width: 1024px) {
  .logo {
    padding: 0 20px;
    font-size: 27px;
    letter-spacing: 3px;
  }

  #navbar_menu {
    padding: 0 10px;
  }

  .navbar_menu_item {
    margin: 0;
    width: 90px;
    font-size: 25px;
  }

  .home_title {
    font-size: 33px;
  }

  .home_description {
    font-size: 31px;
  }

  .timeline_head,
  .skills_head,
  .projects_head {
    margin-top: 75px;
  }

  .timeline_wrap {
    width: 90%;
  }

  .skills_container {
    grid-template-columns: repeat(2, 3fr);
    gap: 50px;
    margin-bottom: 50px;
  }

  .projects_card {
    flex-direction: column;
    height: 700px;
  }

  .projects_card_img {
    width: 100%;
    height: 60%;
  }

  .projects_card_text {
    width: 100%;
    height: 40%;
  }

  .projects_card_skills {
    line-height: 25px;
    font-size: 16px;
  }

  .projects_card_btn {
    padding: 5px 13px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #toggle {
    display: flex;
  }

  #navbar_menu {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #378dd4;
    z-index: 1500;
  }

  #navbar_menu.active {
    height: calc(100vh - 70px);
    bottom: 0;
    width: 100%;
  }

  .navbar_menu_item {
    margin: 15px 0;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
  }

  .navbar_menu_item_link::before {
    bottom: -4px;
  }

  .home_title {
    font-size: 23px;
  }

  .home_description {
    font-size: 21px;
  }

  #timeline {
    padding-bottom: 50px;
  }

  .timeline_head,
  .skills_head,
  .projects_head {
    margin-top: 75px;
  }

  .timeline_wrap {
    width: 80%;
    transform: translateX(15px);
  }

  .timeline_lists::after {
    left: -30px;
  }

  .timeline_lists li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .timeline_list_odd {
    transform: translateX(0);
    text-align: left;
  }

  .timeline_list_odd .timeline_date {
    left: 20px;
  }

  .timeline_list_odd .timeline_circle {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .timeline_list_even {
    transform: translateX(0);
  }

  .skills_container {
    gap: 25px;
  }

  .projects_card {
    height: 750px;
  }

  .projects_card img {
    min-width: 480px;
  }

  .projects_card_title {
    font-size: 27px;
  }

  .projects_card_description {
    font-size: 17px;
  }

  .projects_card_skills {
    font-size: 14px;
  }

  .projects_card_btn {
    font-size: 13px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
